<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza base - Versions</title>
</head>
<body>
    <span>
        10/10/2024
        Initial Release
    </span>
    <span>
        5/11/2024
        Fixed Bugs
        New features - Users can now change their password by email
    </span>
    
</body>
</html>